<h2>Hello this is the index page of {{name}}!!!</h2>

<img src="/images/ironhack-logo-white.jpg" alt="ironhack logo" width="150" />
<ol>

  {{#if adult}}
    <div>You are too old to have your own server</div>
  {{else}}
    <div>You are too young to have your own server</div>
  {{/if}}

  <li>test LI</li>
  {{#each hobbies}}
    <li>
      {{name}}
    </li>
  {{/each}}
</ol>
<a href="/about"> Go Back </a>